.split {
height: 100%;
width: 50%;  
}

.left {
    left: 0;    
}

.left img {
    height: 100vh;
    width: 100%;
}

.right {
    right: 0;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    margin-left: 15px;
}

.centered {
    align-self: center;
}

.right h2 {
    margin-left: 5px;
    margin-top: 15px;
    color: red;
}

.right ul {
    list-style-type: square;
}