* {
    margin: 0%;
}

.navbar {
    background-color: black;
    height: 90px;
    width: 100%;
    display: flex;
}

.logo {
    width: 200px;
    height: 100px;
}

.navbar ul {
    margin-top: 35px;
    margin-left: 70%;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
}

.navbar a:hover{
    cursor: pointer;
}